<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/wingkit.lau.12/" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/lwk1008/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/ivan-lau-562074199" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/lwk1008" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://gitlab.com/lwk1008" target="_blank">
            <i class="fa fa-gitlab fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
    </div>
</footer>