<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-Present</p>
                        <div class="h5">Undergraduate</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering in Computer Engineering, minor in Finance</div>
                                <h4 class="category">The University of Hong Kong</h4>
                                <ul>
                                    <li> HKU <b>ranks 22nd</b> in QS Global World Rankings 2022. </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>01-06/2021</p>
                        <div class="h5">Exchange studies</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Master's Programme in Computer Science, Communication and Infomation Sciences</div>
                            <h4 class="category">Aalto University</h4>
                            <ul>
                                    <li>Aalto's Computer Science <b>ranks 1st</b> in Finland.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               